body{
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.buttons {
 display:flex;
 align-items: center;
 justify-content: center;
}
.countries_card{
  display: grid;
  width: 90%;
  margin: 0 auto;
  background: #4f45e5;

}
@media(min-width: 768px){
  .countries_card{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(min-width: 990px){
  .countries_card {
    grid-template-columns: repeat(3,1fr);
  }
}
@media(min-width: 1400px){
  .countries_card{
    grid-template-columns: repeat(4, 1fr);
  }
}
.detail_card{
  display: grid;
}
@media(min-width: 768px){
  .detail_card{
    grid-template-columns: repeat(2, 1fr);
  }
}
.list_buttons {
  display:  flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  column-gap: 1rem;
}
.bg-nav{
  background-image: url('image/world.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}